#page-orphaned {
    display: flex;
    min-height: 100vh;

}

aside.sidebar{
    position: fixed;
    height: 100%;
    padding: 3.2rem 2.4rem;
    background: linear-gradient(300.55deg, #002fff 0%, #007fff 100%) no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside.sidebar footer button {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 1.6rem;

    background: linear-gradient(300.55deg, #007fff 40%, #00ffea 100%);

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2;
}

aside.sidebar footer button:hover {
    background: linear-gradient(300.55deg, #00ffea 40%, #007fff 100%);
}

.with-sidebar {
    padding-left: 11rem;
}

.orphanage-details {
    width: 70rem;
    margin: 6.4rem auto;
    background: white;
    border: 2px solid #d3e2e5;
}